body > p{
  font: 400 16px/1.8 "Segoe UI", sans-serif;
}

.gridstats {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.gridstats > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.gridstats > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.boxstats { 
	margin: 20px;
	line-height:0.5;
}

.boxstats h2{
    margin-top: 2px;
	font-size: 30px;
	color: #606060;
}

.boxstats > p{
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 16px;
	color: #606060;
}

i > .boxstats {
	height: 40px;
}

.innertext {
	padding: 100px;
	text-align: left;
	font-size: 20px;
	letter-spacing: 3px;
}
.innertext > p{
	letter-spacing: 1px;
	font-size: 16px;
	color: #606060;
}
.innertext > h2{
	text-align: left;
}

/* chose data collapsable */

.panel-group {
	width: 60%;
	min - height: 20px;
    padding: 5px;
    margin - bottom: 20px;
    background: #ffffff;
    box-shadow:  0 0 7px  rgba(0,0,0,0.1);
	font: 400 12px/1.8 "Open Sans", sans-serif;
}

.panel-primary {
	border-style: none;
	background: #ffffff;
}

.panel-primary .panel-heading{
	letter-spacing: 2px;
	background: #ffffff;
	color: #686868;
}

.panel-primary > .panel-heading+.panel-collapse >.panel-body{
	font: 400 12px/1.8 "Open Sans", sans-serif;
	background: #ffffff;
	border-top-color: #E0E0E0;
	border-bottom-style: none;
}

#placeholder_coef_bs .form-group.shiny-input-container{
                                        display: inline-block;
										padding: 0px;
                                        }
#placeholder_coef_nsp .form-group.shiny-input-container{
                                        display: inline-block;
										padding: 0px;
                                        }
										
#val_coef1_fp .form-group.shiny-input-container{
                                        display: inline-block;
										padding: 0px;
                                        }
#val_coef2_fp .form-group.shiny-input-container{
                                        display: inline-block;
										padding: 0px;
                                        }
										
.home {
  position: relative;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  z-index: 0;
  background-size: cover;
  background: #FFFFFF;
  height: 100vh;
}

.home > div.canvas-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home > div.canvas-container canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}


.bg-gradient:before {
  position: absolute;
  background: linear-gradient(to bottom, rgb(211,211,211) 25%, rgb(255,255,255) 75%);
  content: " ";
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}

.title {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.sub-title {
  position: relative;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: rgb(160,160,160);
  margin: 0 0 70px;
}

.title-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.title2 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-bottom: 50px !important;
  margin-top: 50px !important;
}
.title1 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-weight: 500;
  font-size: 52px;
  margin-bottom: 50px !important;
}

/* Navbar */

.navbar {
	background: transparent;
    padding-bottom: 15px;
    padding-top: 15px;
	border: 0;
	border-radius: 0;
	z-index: 1000;
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 12px;
	-webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-ms-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}

.navbar-fixed-top + .main {
  margin-top: 50px;
}

.navbar a {
  transition: color 0.125s ease-in-out 0s;
}

.navbar .navbar-brand {
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 22px;
}
.navbar-fixed-top.scrolled {
  background-color: rgb(232,232,232) !important;
  transition: background-color 100ms linear;
}

/* Footer */

footer {
	position: fixed;
	bottom:0;
	z-index: 3;
	width:100%;
	font-family: "Roboto Condensed", sans-serif;
	letter-spacing: 3px;
}

footer p{
	font-size: 12px;
	word-break: break-all;
}


footer ul{
	padding-left: 0;
	list-style: none;
}

footer .col-md-6 {
  display: flex;
}
	
footer .row {
  display: flex;
}

footer > .container {
	float: left; 
	width: 100%;
}
.widget {
	padding: 10px;	
}

.images-container {
   margin-top: auto;
   margin-bottom: auto;
}
.images-container img {
    width: 100%;
}

.well {
    min - height: 20px;
    padding: 19px;
    margin - bottom: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow:  0 0 7px  rgba(0,0,0,0.1);
}

.well > .well {
	box-shadow: none;
}

.btn {
	border-style: none;
}

body > .container-fluid {
	padding: 0;
}

.tab-pane[data-value='Methods'], .tab-pane[data-value='about'] {
	padding: 15px;
	padding-top: 100px;
}

.tab-pane[data-value='Methods'] h4{
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
	color: #606060;
}

#collapseData {
    width: 100%;
}

#collapseData .material-switch{
    padding-top: 40px;
}

.reset_btn {
    border-style: solid;
}

span>.irs>.irs-single, span>.irs-bar-edge, span>.irs-bar {background: #D3D3D3;} 

.Rcode {
  padding: 15px;
}
