h1, h2, h3, h4, h5 {
    font - family: "Segoe UI",
    sans - serif;
    font - weight: 400;
    margin: 20px 20px;
    letter - spacing: 2px;
}

body p, li {
    font: 400 20px / 1.8 "Segoe UI",
    sans - serif;
    color:  # 606060;
    padding: 0px 60px;
    text - align: left;
    font - size: 16px;
    margin - left: 30px;
    margin - right: 100px;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  margin:0 0 20px;
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

.highlight {
	padding-left: 60px; 
	padding-right: 60px; 
}
